In [1]:
import psycopg2
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

connct = psycopg2.connect('dbname=WhiskyAdvocate user= postgres password = [redacted] host = 127.0.0.1 port=5432')

In [3]:
#Query the database to recover the needed data for unsupervised learning operations

ds_query = ''' SELECT whiskey_stats.price_usd, whiskey_stats.percent_abv, vector_description.*
                FROM whiskey_stats
                INNER JOIN vector_description
                ON whiskey_stats.whiskey_id = vector_description.whiskey_id;'''

ml_df = pd.read_sql(ds_query, connct)

ml_df.head()

,price_usd,percent_abv,oak,vanilla,sweet,chocolate,fruit,spice,orange,pepper,...,toasted,tobacco,licorice,nuts,floral,bitter,complex,subtle,coconut,whiskey_id
0,55.0,45.0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,40.0,40.0,0,0,1,0,0,0,1,0,...,1,0,0,1,0,0,0,0,0,1
2,40.0,50.0,2,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,2
3,35.0,45.2,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,3
4,65.0,45.0,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4

In [4]:
#close the connection
connct.close()